/* src/App.css */
@import 'tailwindcss';
.App {
  width: 100%;
  min-height: 100vh;
}

/* Example of a custom animation if you want a fade-in effect for your UserMainPage */
.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
